<phpunit
  backupGlobals="true"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  cacheTokens="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  mapTestClassNameToCoveredClassName="false"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
>
  <testsuites>
    <testsuite name="Controllers">
      <directory>app/test/controllers</directory>
    </testsuite>
  </testsuites>
  
  <testsuites>
    <testsuite name="Models">
      <directory>app/test/mdoels</directory>
    </testsuite>
  </testsuites>
</phpunit>